.button {
  box-sizing: border-box;
  display: block;
  padding: 8px 20px;
  background-color: $color-base;
  border: none;
  border-radius: 4px;

  &--second {
    color: $color-base;
    background-color: $color-white;
  }

  &--img {
    display: flex;
    align-items: center;
  }

  &--form {
    @include media-desktop {
      flex-grow: 1;
    }
  }
}
