.control {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.control__mark-radio {
  box-sizing: border-box;
  // display: inline-block;
  width: 24px;
  height: 24px;

  border: 2px solid $color-grey;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    display: none;
    width: 16px;
    height: 16px;
    background-color: $color-base;
    border-radius: 50%;
  }
}

// .control__checkbox:not(:disabled):hover + .control__mark-checkbox,
//  .control__input:not(:disabled):hover + .control__mark-radio {
// border-color: $color-black;
// }

.control__input:checked + .control__mark-radio {
  border-color: $color-base;
}

.control__input[type="radio"]:checked + .control__mark-radio::before {
  content: "";
  display: block;
}


.control__mark-check {
  box-sizing: border-box;
  // display: block;
  width: 42px;
  height: 24px;
  // border: 1px solid $color-text-second;
  border-radius: 12px;
  // padding: 2px 20px 2px 2px;
  background-color: $color-grey;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    box-sizing: border-box;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    margin: 2px 20px 2px 2px;
    background-color: $color-white;
    border-radius: 50%;
  }
}

// .control__checkbox:not(:disabled):hover + .control__mark-checkbox {
//, .control__input:not(:disabled):hover + .control__mark-check
// border-color: $color-black;
// }

.control__input[type="checkbox"]:checked ~ .control__mark-check {
  background-color: $color-base;
}

.control__input[type="checkbox"]:disabled ~ .control__mark-check {
  background-color: $color-grey-light;
  cursor: no-drop;
}

.control__input[type="radio"]:disabled ~ .control__mark-radio {
  border-color: $color-grey-light;
  cursor: no-drop;
}

.control__input[type="checkbox"]:disabled ~ .text-label,
.control__input[type="radio"]:disabled ~ .text-label {
  color: $color-grey-light;
  // cursor: no-drop;
}

.control__input[type="checkbox"]:checked ~ .control__mark-check::before {
  content: "";
  margin: 2px 2px 2px 20px;
}
