.hamburger {
  display: block;
  // display: none;
  width: 16px;
  height: 16px;

  box-sizing: border-box;
  position: relative;
  border: none;
  background-color: $color-white;
  cursor: pointer;


  background-image: url("../../icons/gamb.svg");

  @include media-tablet {
    display: none;
  }
}

// .hamburger--open {
//  background-color: aquamarine;
// }

