// .header {
// margin-top: 12px;
// margin-bottom: 12px;
// }

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  margin-right: 88px;

  @include media-tablet {
    margin-right: 67px;
  }
}

.header__logo-descktop {
  display: none;

  @include media-desktop {
    display: inline;
    // background-color: bisque;
  }
}
