.icon {
  overflow: visible;

  @include icon;

  &::before {
    content: "";

    @include icon;
  }

  // &::after {
  //   content: "";

  //   @include icon;
  // }
}

.icon--basket::before {
  display: inline-block;
  padding-right: 8px;
  width: 16px;
  height: 16px;
  background-image: url('../../icons/basket.svg');
}

.icon--user::before {
  display: inline-block;
  padding-right: 8px;
  width: 16px;
  height: 16px;
  background-image: url('../../icons/user.svg');
}

.icon--speed::before {
   background-image: url('../../icons/icon_speed.svg');
}

.icon--comfort::before {
  background-image: url('../../icons/icon_comfort.svg');
}

.icon--features::before {
  background-image: url('../../icons/icon_features.svg');
}

.icon--ecolog::before {
  background-image: url('../../icons/icon_ecolog.svg');
}
