.info {
  @include list-reset;
}

.info__item {
  border-top: 1px solid $color-line;
  padding-top: 20px;
}

.info__subdirectory {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info__subdirectory-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.info__adress {
  margin-bottom: 16px;
}
