.pagination {
  margin-top: 40px;

  @include media-desktop {
    margin-top: 60px;
  }
}

.pagination__list {
  @include list-reset;

  display: flex;
  align-items: center;
  gap: 20px;

  @include media-tablet {
    justify-content: right;
  }
}

.pagination__txt {
  display: none;

  @include media-tablet {
    display: inline;
  }
}

.pagination__item {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: $color-white;
  border-radius: 4px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  &--current {
    background-color: transparent;
  }

  &--text {
    width: 91px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-image: url("../../icons/arr-left.svg");

    @include media-tablet {
      background-image: none;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.pagination__item--text--r {
  background-position: center;
  background-image: url("../../icons/arr-right.svg");

  @include media-tablet {
    background-image: none;
  }
}
