.slider {
  position: relative;
}

.slider__wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-desktop {
    flex-direction: row;
    gap: 30px;
  }
}

.slider__img {
  width: 280px;
  height: 280px;

  @include media-tablet {
    width: 476px;
    height: 476px;
    order: 1;
    margin-top: 20px;

    @include media-desktop {
      width: 600px;
      height: 600px;
      order: 0;
    }
  }
}

.slider__list {
  @include list-reset;
}

.slider__item {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;

  &--1 {
    background-color: $color-bg-white;
  }

  &--2 {
    background-color: $color-bg-latte;
  }

  &--3 {
    background-color: $color-bg-espresso;
  }

  @include media-tablet {
    padding-top: 60px;
    padding-bottom: 0;
  }

  @include media-desktop {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.slider__badge {
  margin-top: 10px;
  margin-bottom: 4px;
}

.slider__title {
  margin-bottom: 10px;
}

.slider__text {
  margin-bottom: 20px;

  @include media-desktop {
    margin-bottom: 40px;
  }
}

.slider__buy {
  display: flex;
  justify-content: center;
}

.slider__btn-wrapp {
  position: absolute;
  top: 318px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__arr {
  display: block;
  width: 11px;
  height: 20px;

  @include icon;
  background-image: url("../../icons/arr-left.svg");

  background-color: transparent;
  border: none;

  cursor: pointer;

  &--r {
    transform: rotate(180deg);
  }
}
